@charset "utf8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin:ital,wght@0,400..700;1,400..700&family=Darumadrop+One&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Playpen+Sans:wght@100..800&family=Playwrite+HU:wght@100..400&family=Playwrite+VN:wght@100..400&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sriracha&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --fonte-titulo: "Playwrite VN", sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(159, 199, 199, 0.425);
}
/*estilização da bandeira*/
.bandeira{
    width: 90px;
    height: 50px;
    margin: 30px;
}

.bandeira:hover{
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    transition: 0.5s;

}

/*estilização do cabeçalho*/
header{
    background-color: rgb(43, 61, 16);
    align-items: center;
    display: flex; 
    width: 99vw;
    height: 5rem;
    
}

/*estilização da lista de links do cabeçalho*/
 nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;

}

/*Estilização dos links do cabeçalho*/
nav ul a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
}

/*Estilização da animação dos links*/
nav ul a:hover{
    background-color: rgb(115, 160, 47);
    transform: matrix(1.1, 0, 0, 1.1, 0, 0);
    transition: 0.5s;
    border-radius: 10px;;
}

/*Estilização do menu de navegação*/
nav{
    justify-content: space-between
}

/*estilização da imagem do corpo do site*/
.container-imagem{
    background-image: url(imagens/corpo\ da\ pagina.png);
    background-color: gray;
    width: 99vw;
    height: 650px;
    background-position: right;
    background-repeat: no-repeat;
}

/*Estilização do texto de boas-vindas*/
.texto-welcome{
    color: rgb(237, 245, 241);
    font-size: 3rem;
    display: grid;
    place-items: center; 
    height: 500px;
    width: 900px;
    font-family: var(--fonte-titulo);
    font-style: italic;
}


/*Estilização do sumario do site está desativado, a estilização que está em vigor está abaixo.*/

/*.sumario-escondido{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(43, 61, 16);
    color: white;
    font-size: 1.5rem;
    font-family: var(--fonte-titulo);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
       
}

.sumario-escondido li{
    list-style-type: none;
}*/

details {
    border: 1px solid #0c3b10;
    padding: 10px;
    width: 500px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.288);
    line-height: 2rem;
    margin: auto;
    background-color: rgba(43, 61, 16, 0.699);
    color: white;
    font-size: 1.5rem;
    
    
}
  
summary {
    cursor: pointer;
    font-weight: bold;    
}
  
ul{
    list-style: none;
    padding: 10;
    margin: 10;
}

details  a{
    text-decoration: none;
    color: rgb(247, 245, 245);
}

details a:hover{
    background-color: rgba(255, 255, 255, 0.096);
    border-radius: 10px;
    padding: 7px;
}

/*Estilização do conteudo principal do site*/
.titulo-principal{
    align-items: center;
    justify-content: center;  
    margin: 30px;     
}

.conteudo-principal{
    margin: auto;
    background-color: rgb(242, 245, 242);
    width: 800px;
    align-items: center;
    justify-content: center;  
    padding: 20px;  
    text-indent: 40px;
    line-height: 1.5;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.39);
    
}

.conteudo-principal p{
    font-size: 1rem;
    margin: 10px;
}

hr{
    margin: 8px;
    border: 0.5px solid rgba(0, 0, 0, 0.116)
}

.conteudo-principal img{
    box-shadow: 6px 6px 5px rgba(0, 0, 0, 0.473);
}

h3{
    margin: 20px;
}

/*Estilização do rodapé*/

footer{
    width: 99vw;
    height: 600px;
    background-color: rgb(43, 61, 16);
    color: white;
    margin-top: -10px;
    font-size: 0.8rem;
}

footer a{
    color: white;
    text-decoration: none;
    

}

footer p {
    margin: 10px;
    padding: 10px;
}

footer ul{
    margin: 30px;
    line-height: 3rem;
    
}


